@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#131415;
    --secondaryTextColor-light: #333333;
    --mainLinkColor-light:#0393D7;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light: rgb(250, 249, 249);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark: #0393D7;
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-light);
    --secondaryTextColor:var(--secondaryTextColor-light);
    --mainLinkColor:var(--mainLinkColor-light);
    --mainBorderColor:var(--mainBorderColor-light);
    --mainBgColor:var(--mainBgColor-light);

}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.9em;
}

h6{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 900;
}

i{
    color: var(--mainLinkColor-dark);
    margin-right: 6px;
}

#container--main{
    max-width: 340px;
    margin: 0 auto;
}

#profile--wrapper{
    display: flex;
    flex-direction: column;
}

#profile--wrapper div{
    justify-content: center;
    margin: 0 auto;
}

#profile--wrapper .logo{
    justify-content: center;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

#profile--wrapper .welcome{
    color: #0393D7;
}

#profile--wrapper .profile{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 45%;
}

#profile--wrapper .name{
    color: #0393D7;
    text-shadow: 0 0 1px #111;
}

#profile--wrapper .qa{
    padding-bottom: -8em;
}

.section--page{
    padding-top: 0.2em;
    padding-bottom: 0.8em;
    margin: 0 auto;
    /* margin-left: 5px; */
}

.section-page-title-icon{
    display: flex;
    align-items: center;
}

.section-page-title-icon i{
    color: #0393D7;
    font-size: 30px;
    cursor: pointer;
}

#welcome-notes span{
    color: #0393D7;
}

#wrapper--hero{
    display: flex;
    align-items: left;
}

#wrapper--hero i{
    font-size: 20px;
}

#wrapper--hero .contact-items{
    display: flex;
    align-items: center;
}

#bio, a{
    font-size: 12px;
    font-weight: 300;
}

#profile--name{
    display: flex;
    /* justify-content: right; */
}

#socials--list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#socials--list img{
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8%;    
}

#qualifications--list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.4rem;
    font-size: 0.8em;
    
}

#qualifications--list div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#qualifications--list i{
    color: #0393D7;
    font-size: 1.6em;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.8em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

.card--work-history{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.8em;
}

.card--work-history-items p, h4, h5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.8em;    
}

.responsibility-list p{
    font-size: 0.7em;
    font-weight: 300;
    margin-right: 0.1em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.project--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.8em;
}

.card--project a{
    color: var(--mainTextColor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1em;
}

.card--project i{
    display: flex;
}

.card--project a:hover{
    color: #0393D7;
}
